@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF ;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: black ;
    --fonte-principal: 'Inter' ;
    --botao-efeito:#3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 17px;
}

*{
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--botao-efeito);
    color: var(--cor-de-fundo);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    font-weight: 400;
    color: var(--cinza-secundario);
    text-align: center;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.imagem__secundaria {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
}
.descricao__texto {
    color: var(--cinza-secundario);
    font-size: 16px;
}
.botao__secundario{
    display: inline-block;
    margin-top: 1em;
}
.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    margin: 5em 0;
    list-style-type:none;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 38px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 0 3em;
}

.rodape__logo {
    margin-bottom:2em ;
}

.rodape__lista {
    display:flex;
    justify-content: center;
    list-style-type:none;
    gap: 2em;
}

.lista__link {
    text-decoration: none;
    color: var(--branco-principal);
}

.lista__link:hover {
    color: var(--botao-azul);
}

.rodape__texto {
    text-align: center;
    margin: 2em 0;
    color: var(--cinza-secundario);
}


